body {
  background: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 5px;
}

.container{
  padding: 30px;
  margin-top: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: -9px 17px 13px rgb(0 0 0 / 16%);
}

.container h1{
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.input-info{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
}

.input-info input{
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.submitBtn {
  width: 10%;
}